<div class="container">
  <div class="text-center">
    <h1 class="m-5">Editing (quiz name)</h1>
    <button class="btn btn-info m-3 mx-auto text-center">Add more +</button>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Question</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="row">1</th>
          <th>What is the name?</th>
          <th><a>Edit</a></th>
          <th><a>Delete</a></th>
        </tr>
      </tbody>
    </table>
</div>
