<div class="container">
  <div class="text-center">
    <h1 class="m-5">Editing ({{quizName}})</h1>
    <a [routerLink]="['/add-question', quizId, quizName]" class="btn btn-info m-3 mx-auto text-center">Add more +</a>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Question</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <th class="row">1</th>
          <th>{{ question.question }}</th>
          <th><a>Edit</a></th>
          <th><a>Delete</a></th>
        </tr>
      </tbody>
    </table>
</div>
