<div class="container w-50 mt-5">
<h2 class="text-center p-3 mt-5">Add question ({{ quizName }})</h2>
    <form [formGroup]="form" (submit)="addQuestion()">
        <div class="form-group pt-5">
            <input formControlName="question" type="text" placeholder="Question" name="question" class="form-control col-12">
            <div *ngIf="question?.touched && question?.invalid" class="alert alert-danger">
                <div *ngIf="question?.errors?.required">
                    Question is required.
                </div>
            </div>
        </div>

        <div class="row pl-4">
        <div class="form-group row col-md-6">
            <input formControlName="choice" type="radio" value="1" class="form-control col-1">
            <input formControlName="choice1" placeholder="Option 1" type="text" name="choice1" class="form-control col-11">
            <div *ngIf="choice1?.touched && choice1?.invalid" class="alert alert-danger">
                <div *ngIf="choice1?.errors?.required">
                    Choice1 is required.
                </div>
            </div>
        </div>

        <div class="form-group row col-md-6">
            <input formControlName="choice" type="radio" value="2" class="form-control col-1">
            <input formControlName="choice2" placeholder="Option 2" type="text" name="choice1" class="form-control col-11">
            <div *ngIf="choice2?.touched && choice1?.invalid" class="alert alert-danger">
                <div *ngIf="choice2?.errors?.required">
                    Choice2 is required.
                </div>
            </div>
        </div>

        <div class="form-group row col-md-6">
            <input formControlName="choice" type="radio" value="3" class="form-control col-1">
            <input formControlName="choice3" placeholder="Option 3" type="text" name="choice3" class="form-control col-11">
            <div *ngIf="choice3?.touched && choice1?.invalid" class="alert alert-danger">
                <div *ngIf="choice3?.errors?.required">
                    Choice3 is required.
                </div>
            </div>
        </div>

        <div class="form-group row col-md-6">
            <input formControlName="choice" type="radio" value="4" class="form-control col-1">
            <input formControlName="choice4" placeholder="Option 4" type="text" name="choice4" class="form-control col-11">
            <div *ngIf="choice4?.touched && choice1?.invalid" class="alert alert-danger">
                <div *ngIf="choice4?.errors?.required">
                    Choice4 is required.
                </div>
            </div>
        </div>
        </div>

        <button type="submit" class="btn btn-primary float-right">Add Question</button>
    </form>
</div>